{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "react-app",
    "plugin:prettier/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "singleQuote": true,
        "tabWidth": 2,
        "useTabs": false,
        "semi": true,
        "trailingComma": "all"
      }
    ],
    "react/prop-types": 0,
    "no-console": 1
  }
}
